#comments {
  h2.comments-title {
    color: $color_16;
    display: inline-block;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    margin: 15px 0;
    padding: 8px 15px;
  }
  h3 {
    margin: 0 0 10px;
    color: $color_17;
    font-weight: 600;
    display: inline-block;
    line-height: 22px;
    font-size: 18px;
  }
}

#commentform {
  label {
    width: 120px;
    display: block;
  }
  .form-submit {
    margin-bottom: 0;
  }
}

textarea#comment {
  width: 100%;
  height: 150px;
}

.comments-area {
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ol.children {
    margin: 0 0 0 15px;
  }
}

.comment-list {
  .comment-body {
    padding: 15px;
    margin-bottom: 20px;
    background: #F2F2F2;
    border-top: 2px solid $primary_color;
  }
}

.comment-author {
  img {
    vertical-align: text-top;
    margin-right: 15px;
  }
  .fn {
    font-style: normal;
    font-size: 16px;
    text-transform: capitalize;
    font-weight: bold;
    .url {
      color: $color_16;
      padding: 0 5px;
      &:hover {
        color: $primary_color;
      }
    }
  }
  .says {
    display: none;
  }
}

.comment-metadata {
  margin-top: -10px;
  padding-left: 57px;
}

.commentmetadata {
  float: right;
  font-weight: normal;
  font-size: 12px;
  font-style: italic;
  font-weight: 300;
  a {
    color: $color_3;
  }
  .comment-edit-link {
    color: $secondary_font_color;
  }
	& + .clear {
		margin-bottom: 20px;
	}
}



.reply {
  .comment-reply-link {
    background: none repeat scroll 0 0 $primary_color;
    border-radius: 3px;
    color: $color_19;
    font-size: 13px;
    line-height: 1;
    padding: 2px 10px;
  }
}

#respond {
  background: #f9f9f9 none repeat scroll 0 0;
  color: $color_17;
  margin-top: 40px;
  padding: 20px;
}

#cancel-comment-reply-link {
  font-style: italic;
  color: $primary_color;
  &:before {
    font-family: $font_family_5;
    content: "\f057";
    margin: 0 5px 0 20px;
    font-style: normal;
    color: $primary_color;
  }
}
