
.edm-column-wrapper {
  margin-left: -2%;
}

.edm-column-1 {
  float: left;
  width: 98%;
  margin-left: 2%;
}

.edm-column-2 {
  float: left;
  width: 48%;
  margin-left: 2%;
}

.edm-column-3 {
  float: left;
  width: 31.33%;
  margin-left: 2%;
}

.edm-column-4 {
  float: left;
  width: 23%;
  margin-left: 2%;
}

#primary {
  float: left;
  width: 70%;
}
